<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <meta name="description" content="UCDTT Rating App">
    <title>UCDTT Rating App</title>
  </head>
  <body class="container">
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'players:index' %}">Players</a></li>
          <li><a href="{% url 'players:matches' %}">Matches</a></li>
        </ul>
        <details class="dropdown" style="margin: 0 !important;">
          {% if user.is_authenticated %}
            <summary>Logged in as {{ user.username }}</summary>
            <ul>
              <li>
                <a href="{% url 'players:signup' %}">New officer account</a>
              </li>
              <li>
                <form method="post" action="{% url 'logout' %}" >
                  {% csrf_token %}
                  <button type="submit" >Log out</button>
                </form>
              </li>
            </ul>
          {% else %}
          <summary>Login</summary>  
          <ul>
              <li><a href="{% url 'login' %}">Officer login</a></li>
            </ul>
          {% endif %}
        </details >
      </nav>
    </header>
    <main class="container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <p>UC Davis Table Tennis Club</p>
    </footer>
  </body>
</html>