{% extends "players/base_html.html" %}
{% block content %}
  <h1>{{ player.name }}</h1>
  <hr>
  <p>Rating: {{ player.display_rating }}</p>
  <p>Registered on: {{ player.created_date }}</p>
  {% if user.is_authenticated %}
  <div class="grid">
    <form action="{% url "players:update" player.id %}"><button type="submit">edit</button></form>
    <form action="{% url "players:delete" player.id %}" method="post" onsubmit="return confirm('Delete {{ player.name }}? This cannot be undone.');">
      {% csrf_token %}
      <button type="submit">delete</button>
    </form>
  </div>
  {% endif %}
{% endblock content %}