{% extends "players/base_html.html" %}
{% block content %}
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <h1>UCDTT Club Rating App</h1>
    <form action="{% url "players:new" %}"><button type="submit">Add new player</button></form>
  </div>
  <hr>
  {% if user.is_authenticated %}
  
  {% endif %}
  <h2>Leaderboard</h2>
  <ol>
    {% for player in player_list %}
      <li>{{ player.rating }} | <a href="{% url "players:detail" player.id %}">{{ player.name }}</a></li>
    {% endfor %}
  </ol>
{% endblock content %}
