{% extends "players/base_html.html" %}
{% block content %}
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <h1>UCDTT Club Rating App</h1>
    {% if user.is_authenticated %}
      <div style="display: flex; gap: 0.5rem; align-items: start;">
        <form action="{% url "players:new" %}"><button type="submit">Add new player</button></form>
        <form action="{% url "players:import_players" %}"><button type="submit" class="secondary">Import CSV</button></form>
      </div>
    {% endif %}
  </div>
  <hr>
  <h2>Leaderboard</h2>
  <ol>
    {% for player in player_list %}
      <li>{{ player.display_rating }} | <a href="{% url "players:detail" player.id %}">{{ player.name }}</a></li>
    {% endfor %}
  </ol>
{% endblock content %}
